body {
    margin: 0;
    padding: 0;
    background-color: #eae8e8;
    box-sizing: border-box;
}
.item {
    position: relative;
    top: 40px;
}

.item h1 {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 40px;
    color: rgb(38, 38, 151);;
}

.item hr {
    position: relative;
    top: 20px;
    width: 10%;
    background-color: black;
    border: none;
    height: 2px;
}

.item p {
    position: relative;
    top: 30px;
    margin: 0 auto;
    color: rgb(69, 66, 66);
    text-align: center;
    width: 50%;
    line-height: 20px;
}

@media (max-width: 1050px) {
    .item p {
        width: 60%;
    }
}
@media (max-width: 896px) {
    .item p {
        width: 70%;
    }
}
@media (max-width: 750px) {
    .item p {
        width: 80%;
    }
}
@media (max-width: 660px) {
    .item p {
        width: 90%;
    }
}