@media (max-width: 650px) {
    .nav-links {
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        gap: 20px;
        flex-direction: column;
        background-color: #f6f1f1;
        display: none;
        justify-content: space-between;
        align-items: center;
      }

      .logo {
        width: 80px;
        display: block;
        margin: 0 auto;
    }

    .logo img {
        margin-left: 20%;
    }

    .nav-links li {
        text-align: center;
        width: 80%;
    }

    #border {
        border-top: 1px solid black;
    }

    .nav-links a {
        margin-top: 20px;
    }

    .nav-links a:hover:after {
        display: none;
    }
  
    .hamburger {
        display: flex;
    }
  
    .nav-links.active {
        display: flex;
        padding: 10px 0px 15px 0px;
        border-radius: 1rem;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  
    .nav-links .dropdown-content {
        position: relative;
        top: 0;
    }
  
    .nav-links .dropdown.active .dropdown-content {
        display: flex;
        flex-direction: column;
    }
    .experience-item {
        height: 260px;
    }
    .aboutinfo {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 20% 5% 75%;
        grid-template-areas: ". intro1 ."
                             ". . ."
                             ". texti .";
    }
    .intro-text p {
        font-size: 14px;
    }
    .intro h3 {
        font-size: 16px;
    }
    
  }

  @media (max-width: 885px) {
    .experience-text h1 {
        font-size: 40px;
    }
  }

  @media (max-width: 710px) {
    .experience-text h1 {
        font-size: 30px;
    }
    .experience-text p {
        font-weight: 400;
    }
  }

  @media (max-width: 807px) {
    .contentf {
        grid-template-columns: 5% 0.5fr 5% 0.5fr 5% 0.9fr 5%;
        grid-template-areas: ". company1 . products1 . contact1 .";
      }
  }

  @media (max-width: 541px) {
    .contentf h1 {
        font-size: 14px;
    }
    .contentf li, p{
        font-size: 13px;
    }
    .contact ul li img {
        width: 12px;
    }
    .contact ul {
        margin-left: -4.35rem;
    }
    .experience-text h1 {
        font-size: 20px;
    }
  }
  @media (max-width: 400px) {
    .contentf h1 {
        font-size: 12px;
    }
    .contentf li, p{
        font-size: 11px;
    }
    .contact ul li img {
        width: 10px;
    }
  }
  @media (max-width: 341px) {
    .contentf h1 {
        font-size: 10px;
    }
    .contentf li, p{
        font-size: 9px;
    }
    .contact ul li img {
        width: 8px;
    }
    .svgfooter {
        position: relative;
        top: 0.6rem;
      }
  }
