body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: #f6f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
  width: 100%;
  z-index: 1000;
}

.logo img {
    width: 80px;
    margin-left: 50%;
    float: left;
    animation: grow2 10s infinite alternate;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex-grow: 1;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  display: block;
  position: relative;
  color: black;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400  ;
  overflow: hidden;
}

.nav-links a:hover {
  color: rgb(38, 38, 151);
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  margin-top: 17px;
  left: 50%;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease, left 0.5s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}

.dropbtn::after {
  display: none;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f1f1;
  top: 19px;
  left: 0;
  min-width: 150px;
  z-index: 1;
}

.nav-links .dropdown-content a {
  padding: 10px 15px;
}

#space {
  margin-top: 20px;
}

.dropdown-content a:hover::after {
  display: none;
}
.dropdown-content a:hover {
  background-color: rgb(38, 38, 151);
  color: white;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}


/* Estilos para o menu hambúrguer */


.hamburger {
  display: none;
  flex-direction: column;
  width: 20px;
  height: 15px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

  .bar {
  background-color: rgb(70, 70, 71);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
}

.hamburger .bar {
  transition: 0.5s;
}


/* Animação para o ícone do menu */


.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%); 
}

.bar:nth-child(3) {
  bottom: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 45%;
  transform-origin: center;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 45%;
  transform-origin: center;
}

/* Estilo do menu do Whatsapp */

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  cursor: pointer;
  z-index: 1001;
}
.whatsapp-icon:hover {
  animation: grow 4s alternate;
  animation-iteration-count: 1;
}

/* Estilo do Caroussel */

.experience-container {
  position: relative;
  width: 100%;
  margin-top: 59px;
  height: 100%;
  overflow: hidden;
}



.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
}

.experience-item {
  min-width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.experience-text {
  margin-top: 100px;
  z-index: 1;
}
.experience-text h1 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-top: -100px;
}
.experience-text h1 hr {
  width: 200px;
  height: 1px;
  background-color: white;
  margin-top: 7px;
}
.experience-text p {
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-align: center;
}

.experience-text .box {
  background-color: rgb(38, 38, 151);
  margin: 0 auto;
  padding: 15px;
  width: 138px;
  font-size: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 400;
}
.experience-text .box:hover {
  background-color: white;
  color: rgb(38, 38, 151);
}

/* Estilo do Footer */

footer {
  margin-top: 180px;
}
footer .footer-content {
  width: 100%;
  padding-top: 40px;
  background-color: rgb(38, 38, 151);
}
footer .footer-content li {
  display: inline-block;
  width: 40px;
}
footer .footer-content img {
  width: 20px;
}
footer .final-footer {
  padding: 1px;
  text-align: center;
  background-color: rgb(26, 26, 135); 
}
.final-footer p {
  color: #f6f1f1; 
  font-weight: 100;
  font-size: 12px;
}
.final-footer a {
  text-decoration: none;
  color: #f6f1f1;
}
  
@keyframes grow {
  from {
      transform: scale(0.7);
  }
  to {
      transform: scale(1);
  }
}
@keyframes grow2 {
  from {
      transform: scale(0.8);
  }
  to {
      transform: scale(1);
  }
}