body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #eae8e8;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: #f6f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
  width: 100%;
  z-index: 1000;
}

.logo img {
    width: 80px;
    margin-left: 50%;
    float: left;
    animation: grow2 10s infinite alternate;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;
  flex-grow: 1;
}

.nav-links {
  position: relative;
  right: 4%;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  display: block;
  position: relative;
  color: black;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400  ;
  overflow: hidden;
}

.nav-links a:hover {
  color: rgb(38, 38, 151);
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  margin-top: 17px;
  left: 50%;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease, left 0.5s ease;
}

.dropbtn {
  cursor: pointer;
}

.dropbtn::after {
  display: none;
}

.nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f1f1;
  top: 19px;
  left: 0;
  min-width: 150px;
  z-index: 1;
}

.nav-links .dropdown-content a {
  padding: 10px 15px;
}

#space {
  margin-top: 20px;
} 

.dropdown-content a:hover::after {
  display: none;
}
.dropdown-content a:hover {
  background-color: rgb(38, 38, 151);
  color: white;
}

.nav-links .dropdown:hover .dropdown-content {
  display: block;
}

.nav-links .dropdown:hover .dropdown-content,
.nav-links .dropdown:focus-within .dropdown-content {
  display: block;
}

.nav-links .dropdown-content a:focus {
  outline: none;
  background-color: rgb(38, 38, 151);
  color: white;
}


/* Estilos para o menu hambúrguer */


.hamburger {
  display: none;
  flex-direction: column;
  width: 20px;
  height: 15px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

  .bar {
  background-color: rgb(70, 70, 71);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
}

.hamburger .bar {
  transition: 0.5s;
}


/* Animação para o ícone do menu */


.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%); 
}

.bar:nth-child(3) {
  bottom: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 45%;
  transform-origin: center;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 45%;
  transform-origin: center;
}

/* Estilo do menu do Whatsapp */

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  cursor: pointer;
  z-index: 1001;
}
.whatsapp-icon:hover {
  animation: grow 4s alternate;
  animation-iteration-count: 1;
}

/* Estilo do Footer */

footer {
  width: 100%;
  height: 100%;
  font-size: 12px;
  background-color: rgb(38, 38, 151);
}

.footer-contentf {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-content li {
  display: inline-block;
  margin-left: 20px;
}
footer .footer-content .social-media ul {
  text-align: center;
  margin-left: -4rem;
}
footer .footer-content img {
  width: 20px;
}
footer .final-footer {
  padding: 1px;
  text-align: center;
  background-color: rgb(26, 26, 135); 
}
.final-footer p {
  color: #f6f1f1; 
  font-weight: 400;
  font-size: 12px;
}
.final-footer a {
  text-decoration: none;
  color: #f6f1f1;
}

.company {
  grid-area: company1;
}
.products {
  grid-area: products1;
  margin: 0px auto;
}
.contact {
  grid-area: contact1;
  margin: 0 auto;
}

.contentf {
  display: grid;
  color: #fff;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  grid-template-rows: 100%;
  grid-template-areas: "company1 products1 contact1";
  padding-left: 10%;
  padding-right: 10%;
}
.contentf a {
  font-size: 14px;
  font-weight: 400;
}
.company p {
  font-size: 14px;
  font-weight: 400;
}
.contentf h1 {
  font-size: 16px;
  color: #f6f1f1;
}
.contentf ul,a {
  list-style-type: none;
  text-decoration: none;
}
.products ul li {
  display: flex;
  margin-left: -3.5em;
  margin-top: 5px;
  text-align: justify;
}
.products li a {
  color: #fff;
  text-align: center;
  z-index: 10;
  margin: 0 auto;
}
.products li a:hover, .contact li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.products a {
  margin-left: -0.3rem;
}
.contact ul {
  margin-left: -5em;
}
.contact ul li a{
  position: relative;
  margin-left: 2px;
  top: -1px;
  color: #fff;
}
.img img{
  position: relative;
  top: 3px;
}

.svgfooter {
  position: relative;
  top: 0.8rem;
}

/* Estilo do Experience */

.experience-container {
  position: relative;
  width: 100%;
  margin-top: 59px;
  height: 100%;
  overflow: hidden;
}


.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.experience-item {
  background-image: url('../imagens/loja.jpg');
  min-width: 100%;
  height: 683px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#t1 {
  position: relative;
  top: -90px;
  color: #f5ededdc;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 150%;
}

/* Animação de entrada do texto */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Estilos de animação */
.experience-text p,
.experience-text h1, .experience-text .box {
  opacity: 0; /* Começa invisível */
  animation: fadeIn 2s forwards; /* Adiciona a animação */
}

.experience-text {
  margin-top: 100px;
  z-index: 1;
}
.experience-text h1 {
  color: rgba(255, 255, 255, 0.805);
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin-top: -100px;
}
.experience-text h1 hr {
  width: 200px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin-top: 7px;
}
.experience-text p {
  color: rgba(255, 255, 255, 0.792);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

.experience-text .box {
  background-color: rgb(38, 38, 151);
  margin: 0 auto;
  padding: 15px;
  width: 140px;
  font-size: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.experience-text .box:hover {
  background-color: white;
  color: rgb(38, 38, 151);
  transition-delay: 0.15s;

}

/* CONTEUDO DA MAIN */

.intro {
  grid-area: intro1;
}
.intro h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: rgb(74, 71, 71);
}

.intro-text p {
  text-align: justify;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(24, 23, 23);
}
.intro-text {
  grid-area: texti;
}
.about {
  width: 90%;
  margin: 0 auto;
}
.about h1 {
  text-align: center;
  color: rgb(38, 38, 151);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}
.line {
  background-color: rgba(0, 0, 0, 0.5);
  height: 2px;
  border-radius: 5px;
  width: 50px;
  margin-top: -5px;
}
.about .line {
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  width: 75px;
  height: 1px;
}
.aboutinfo {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
  top: 20px;
  grid-template-columns: 10% 1fr 2% 1fr 10%;
  grid-template-rows: 80%;
  grid-template-areas: ". intro1 . texti .";
} 

.intro-text iframe {
  width: 100%; /* Largura do iframe 100% */
  height: 120%; /* Altura do iframe */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 10px;
  border: 0;
}


.info-products {
  position: relative;
  top: 40px;
  text-align: center;
}
.info-products h1 {
  text-align: center;
  color: rgb(38, 38, 151);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.info-products h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(74, 71, 71);
}

.destaque-s {
  font-size: 2em;
  color: rgb(24, 23, 23);
  font-weight: bold;
}

/* Centralizar a produtosbox no meio da página */
.produtosbox {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Garante que a largura ocupe o espaço total */
  margin: 0 auto; /* Centraliza horizontalmente */
  position: relative;
  top: 35px;
}

.box-produtos {
  display: grid;
  grid-template-columns: repeat(3, 250px); /* Mantém 3 cards por linha */
  gap: 50px;
  width: fit-content; /* Ajusta a largura conforme o conteúdo */
}

.produto {
  width: 250px; /* Tamanho fixo do card */
  height: 370px; /* Tamanho fixo do card */
  background-color: rgb(38, 38, 151);
  font-size: 12px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.produto:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.produto img {
  border-radius: 50px 50px 0px 0px;
  height: 280px;
  width: 100%;
}

.produto h1 {
  color: #fff;
}



.project h1 {
  text-align: center;
  color: rgb(38, 38, 151);
  margin-top: 120px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

/* cotação */

.cotacao {
  width: 100%;
  height: 80vh;
  background: rgb(71,71,131);
  background: linear-gradient(333deg, rgba(71,71,131,1) 0%, rgba(38,38,151,1) 100%);
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "form .";
}

.cotacao h1 {
  color: #fff;
  position: relative;
  right: 20%;
  top: 10%;
}

.form {
  grid-area: form;
}

/* Estilo geral do formulário */
form {
  background-color: #f0f4f8; /* Fundo cinza claro */
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 70px auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Estilo dos campos de texto */
.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  width: 48%; /* Largura dos campos lado a lado */
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: black; /* Azul escuro para as labels */
}

.required {
  color: #ff0000; /* Vermelho para o campo obrigatório */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #1c3d5a; /* Borda azul escuro */
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  margin-top: 5px;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #4169e1; /* Azul royal quando focado */
  outline: none; /* Remover a borda de foco padrão */
}

textarea {
  resize: none;
  height: 100px;
}

/* Checkbox */
.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input {
  margin-right: 10px;
}

/* Botão de enviar */
.btn-submit {
  background: rgb(71,71,131);
  background: linear-gradient(333deg, rgba(71,71,131,1) 0%, rgba(38,38,151,1) 100%);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-submit:hover {
  background-color: #4169e1; /* Azul royal ao passar o mouse */
}

/* Links */
a {
  color: #262697; /* Azul escuro para links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Estilo para os alertas */
.alert {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 10px;
  left: 88%;
  transform: translateX(-50%);
  background-color:  rgb(28, 28, 121); /* Vermelho para erro */
  color: white;
  padding: 20px;
  width: 299px;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeIn 0.5s; /* Correção do nome da animação */
  animation: fadeInZoom 0.5s; /* Chamada para a nova animação */
}

@keyframes fadeInZoom {
  0% {
      opacity: 0;
      transform: translateX(-50%) scale(0.8); /* Reduzido no início */
  }
  100% {
      opacity: 1;
      transform: translateX(-50%) scale(1); /* Tamanho normal no final */
  }
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
  z-index: 100;
}

.closebtn:hover {
  color: #000000; /* Cor dourada ao passar o mouse */
}

  #alertMessage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
}

.success-alert {
  background-color: rgb(38, 151, 38); /* Verde para sucesso */
}

@keyframes fadeIn { /* Correção do nome da animação */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Estilo para a barra de progresso */
.progress-container {
  width: 339.2px;
  background-color: #ddd;
  margin-top: 10px;
  position: relative;
  top: 21px;
  right: 19.64px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.progress-bar {
  height: 10px;
  background-color: #abaaaa; /* Verde para sucesso */
  width: 0%; /* Inicialmente escondido */
  transition: width 0.1s linear; /* Transição suave ao alterar a largura */
  margin-top: 40px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


  
/* ANIMAÇÃO */

@keyframes grow {
  from {
      transform: scale(0.7);
  }
  to {
      transform: scale(1);
  }
}
@keyframes grow2 {
  from {
      transform: scale(0.8);
  }
  to {
      transform: scale(1);
  }
}